<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <% if session[:user_id] %>
    <div>Logged in user: <%= session[:user_id] %></div>
    <form method= "POST" action="/logout">
      <input type="submit" value="Logout"/>
    </form>
  <% else %>
    <form method="POST" action="/login">
      <input type="text" name="email" value="<%= session[:attempt] %>"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="submit" value="Login"/>
    </form>
    <form method="GET" action="/signup">
      <input type="submit" value="Sign-Up"/>
    </form>
  <% end %>
  <%= yield %>
</body>
</html>
